<!-- Page Header -->
<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-7">
            <h1 class="page-heading">
                Categories
            </h1>
        </div>
        <div class="col-sm-5 text-right hidden-xs">
            <ol class="breadcrumb push-10-t">
                <li>Messages</li>
                <li>
                    <a class="link-effect" href="">Categories</a>
                </li>
            </ol>
        </div>
    </div>
</div>
<!-- END Page Header -->

<!-- Page Content -->
<div class="content">
    <!-- Categories -->
    <div class="block">
        <div class="block-content">
            <button class="btn btn-sm btn-default" ng-click="add()">Add</button>
            <table class="table table-hover js-dataTable-categories">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>URL</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in categories">
                        <td>{{$index + 1}}</td>
                        <td>{{item.name}}</td>
                        <td>
                            {{item.url}}
                        </td>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip" title="Edit Client" ng-click="edit($index)">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip" title="Remove Client" ng-click="delete($index)">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- END Categories -->
</div>
<!-- END Page Content -->

<div class="modal fade" id="modal-popin" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-popin">
        <div class="modal-content">
            <div class="block block-themed block-transparent remove-margin-b">
                <div class="block-header bg-primary-dark">
                    <ul class="block-options">
                        <li>
                            <button data-dismiss="modal" type="button">
                                <i class="si si-close"></i>
                            </button>
                        </li>
                    </ul>
                    <h3 class="block-title">{{new_cat.id ? "Update" : "Create"}}</h3>
                </div>
                <div class="block-content block-content-narrow">
                    <form class="js-validation-bootstrap form-horizontal">
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="val-phoneus">Name
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" ng-model="new_cat.name" name="val-phoneus" placeholder="Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="val-phoneus">Url
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" ng-model="new_cat.url" name="val-phoneus" placeholder="Url">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-default" type="button" data-dismiss="modal">Close</button>
                <button class="btn btn-sm btn-primary" type="button" ng-click="save()">
                    <i class="fa fa-check"></i> {{new_cat.id ?"Update":"Create"}}</button>
            </div>
        </div>
    </div>
</div>