<div style="width:0; height:0; border:0; border:none" id="tracking-container">
</div>

<script>
function getCookie(c_name) {
    if (document.cookie.length > 0) {
        c_start = document.cookie.indexOf(c_name + "=");
        if (c_start != -1) {
            c_start = c_start + c_name.length + 1;
            c_end = document.cookie.indexOf(";", c_start);
            if (c_end == -1) {
                c_end = document.cookie.length;
            }
            return unescape(document.cookie.substring(c_start, c_end));
        }
    }
    return "";
}
</script>

<script>
  window.addEventListener('load', function() {
var tid = getCookie('track'); 
var iframe = document.createElement('iframe');
var url = "http://pixelk.octogames.net/pixel.php?clid=" + tid;
iframe.setAttribute("src", url);
document.getElementById("tracking-container").appendChild(iframe);
  });
</script>

 <script>
  window.addEventListener('load', function() {
var tid = getCookie('track'); 
var iframe = document.createElement('iframe');
var url = "http://trk.realrewardss.site/conversion.gif?cid=" + tid;
iframe.setAttribute("src", url);
document.getElementById("tracking-container").appendChild(iframe);
  });
</script>
 
